linear-vertical-gradient(start_color, end_color)
  background start_color
  background -moz-linear-gradient(top, start_color 0%, end_color 100%)
  background -webkit-gradient(linear, left top, left bottom, color-stop(0%,start_color), color-stop(100%,end_color))
  background -webkit-linear-gradient(top, start_color 0%,end_color 100%)
  background -o-linear-gradient(top, start_color 0%,end_color 100%)
  background -ms-linear-gradient(top, start_color 0%,end_color 100%)
  background linear-gradient(to bottom, start_color 0%,end_color 100%)
$background-color = #fff
$text-color = #fff
$sub-text-color = #fff
$highlight-color = rgba(99,240,1,0.81)
$second-highlight-color = #63f001
$border-color = rgba(255,255,255,0.81)
$toolbar-background-color = transparent
$toolbar-button-color = #fff
$toolbar-text-color = #fff
$toolbar-border-color = transparent
$buttonbar-color = #3cbe00
$buttonbar-active-text-color = #fff
$list-background-color = transparent
$list-header-background-color = transparent
$list-tap-active-background-color = #3cbe00
$tabbar-background-color = #3cbe00
$tabbar-text-color = #fff
$tabbar-highlight-text-color = #63f001
$tabbar-border-color = #007800
$switch-highlight-color = #63f001
$modal-background-color = rgba(0, 0, 0, 0.7)
$modal-text-color = #fff
$alert-dialog-background-color = rgba(255, 255, 255, 0.92)
$alert-dialog-text-color = #fff
$alert-dialog-button-color = #1284ff
$alert-dialog-separator-color = #ddd
$dialog-background-color = rgba(255, 255, 255, 0.92)
$popover-background-color = white
$popover-text-color = #fff
$notification-background-color = #007800

$font-family = HelveticaNeue-UltraLight

@import 'components'
